body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

.none {
    display: none !important;
}

i.expand-toggled {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.frame {
    width: 100%;
    height: 99.2vh;
    background: #E6EAEA;
}

.frame .sidepanel {
    float: left;
    width: 20%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

.frame .sidepanel .profile {
    width: 80%;
    margin: 25px auto;
}

.frame .sidepanel .profile {
    width: 80%;
    margin: 25px auto;
}

.frame .sidepanel .profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

.frame .sidepanel .profile.expanded .wrap p {
    margin-top: 20px;
}

.frame .sidepanel .profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.frame .sidepanel .profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

.frame .sidepanel .profile .wrap img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #2ecc71;
    height: 50px;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

.frame .sidepanel .profile .wrap p {
    float: left;
    margin-left: 15px;
}

.frame .sidepanel .profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
}

.frame .sidepanel .profile .wrap .expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}

.frame .sidepanel .profile .wrap .expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}

.frame .sidepanel .profile .wrap .expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
}

.frame .sidepanel .profile .wrap .expanded input:focus {
    outline: none;
    background: #435f7a;
}

.frame .sidepanel .search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}

.frame .sidepanel .search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

.frame .sidepanel .search input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}

.frame .sidepanel .search input:focus {
    outline: none;
    background: #435f7a;
}

.frame .sidepanel .search input::-webkit-input-placeholder {
    color: #f5f5f5;
}

.frame .sidepanel .search input::-moz-placeholder {
    color: #f5f5f5;
}

.frame .sidepanel .search input:-ms-input-placeholder {
    color: #f5f5f5;
}

.frame .sidepanel .search input:-moz-placeholder {
    color: #f5f5f5;
}

.frame .sidepanel .contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.frame .sidepanel .contacts.expanded {
    height: calc(100% - 334px);
}

.frame .sidepanel .contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}

.frame .sidepanel .contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}

.frame .sidepanel .contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}

.frame .sidepanel .contacts ul li.contact a {
    text-decoration: none;
    color: white;
}

.frame .sidepanel .contacts ul li.contact:hover {
    background: #32465a;
}

.frame .sidepanel .contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

.frame .sidepanel .contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}

.frame .sidepanel .contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

.frame .sidepanel .contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}

.frame .sidepanel .contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}

.frame .sidepanel .contacts ul li.contact .wrap img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.frame .sidepanel .contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

.frame .sidepanel .contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

.frame .sidepanel .contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

.frame .sidepanel .contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}

.frame .sidepanel .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.frame .sidepanel .bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

.frame .sidepanel .bottom-bar button {
    padding: 0px;
}

.frame .sidepanel .bottom-bar button a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.frame .sidepanel .bottom-bar button:focus {
    outline: none;
}

.frame .sidepanel .bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

.frame .sidepanel .bottom-bar button:hover {
    background: #435f7a;
}

.frame .sidepanel .bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

.frame .content {
    float: left;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}

.frame .content .contact-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}

.frame .content .contact-profile p {
    float: left;
}

.frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

.frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

.frame .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
}

.frame .content .messages ul li.sent p,
.frame .content .messages ul li.sent a.file-send  {
    background: #435f7a;
    color: #f5f5f5;
}

.frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

.frame .content .messages ul li.replies p,
.frame .content .messages ul li.replies a.file-send {
    background: #f5f5f5;
    color: #32465a;
    float: right;
}

.frame .content .messages ul li.replies span {
    float: right;
}

.frame .content .messages ul li.replies span i,
.frame .content .messages ul li.sent span i {
    margin: 5px;
}

.frame .content .messages ul li img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left;
}

.frame .content .messages ul li img.image-message {
    width: 15%;
    min-width: 100px;
    height: auto;
    border-radius: 10px;
}

.frame .content .messages ul li img.image-message:hover {
    opacity: 0.6;
}

.frame .content .messages ul li p,
.frame .content .messages ul li a.file-send {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 40%;
    word-wrap: break-word;
    line-height: 130%;
}

.frame .content .messages ul li a.file-send {
    text-decoration: underline;
    font-weight: bold;
}

.frame .content .messages ul li a.file-send i {
    margin-right: 5px;
}

.frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.frame .content .message-input .wrap {
    position: relative;
}

.frame .content .message-input .wrap form {
    width: 50px;
    display: inline-block;
}

.frame .content .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 100px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}

.frame .content .message-input .wrap #message-form input {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.frame .content .message-input .wrap input:focus {
    outline: none;
}

.frame .content .message-input .wrap .attachment {
    position: relative;
    right: 0px;
    z-index: 4;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

.frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

.frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

.frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

.frame .content .message-input .wrap button:focus {
    outline: none;
}

.detail-contact {
    float: left;
    width: 20%;
    height: 100%;
    background-color: white;
    position: relative;
    overflow-y: scroll;
}

.detail-contact::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

.detail-contact::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.detail-contact .wrap {
    height: 30%;
    width: 100%;
    position: relative;
}

.detail-contact img.with-user-avatar {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.detail-contact .wrap span {
    position: absolute;
    right: 37%;
    bottom: 45%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #95a5a6;
    border: 3px solid white;
    z-index: 1;
}

.detail-contact .wrap span.online {
    background: #2ecc71;
}

.detail-contact .wrap p {
    display: inline;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.detail-contact p.name {
    font-size: 120%;
    font-weight: bold;
    top: 65%;
}

.detail-contact p.status-active {
    font-size: 98%;
    top: 79%;
    color: #65676B;
}

.detail-contact .about {
    margin-top: 3%;
}

.detail-contact .about .list-group-item {
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 2px 5px;
}

.detail-contact .about .list-group-item:hover {
    background-color: #E6EAEA;
}

.detail-contact .about .list-group-item i.fa-chevron-down {
    float: right;
    font-size: small;
}

.detail-contact .about .expanded-info .item,
.detail-contact .about .expanded-file .item {
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    margin: 2px 5px;
    position: relative;
}

.detail-contact .about .expanded-info .item:hover,
.detail-contact .about .expanded-file .item:hover {
    background-color: #E6EAEA;
}

.detail-contact .about .expanded-info .item i {
    width: 10px;
    margin-left: 8%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.detail-contact .about .expanded-info .item p {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.detail-contact .about .expanded-file .item a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 8%;
    padding-top: 8px;
    text-decoration: none;
    color: #32465a;
}

.detail-contact .about .expanded-photo {
    width: 100%;
}

.detail-contact .about .expanded-photo .items {
    display: flex;
    flex-wrap: wrap;
}

.detail-contact .about .expanded-photo .item {
    width: calc(100%/2);
    height: 150px;
    padding: 2px;
    overflow: hidden;
}

.detail-contact .about .expanded-photo img {
    width: 100%;
    height: 100%;
}